* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}
/* Khôi phục cỡ chữ 16px */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* COMMON */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.34;
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  min-width: 186px;
  line-height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-right: auto;
  margin-left: auto;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 1);
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /*tự thêm */
}
.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.break-all {
  word-break: break-all;
}

/* Header */
.header {
  background-color: #fff;
}

.header.fixed {
  z-index: 2;
  position: sticky;
  top: -28px;
}

.header .body {
  padding: 57px 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .nav ul {
  display: flex;
}

.header .nav a {
  color: #2f3a3b;
  font-size: 1.6rem;
  margin-right: 39px;
}

.header .nav a:hover {
  color: #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}

.header .action a {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  margin-right: 24px;
}

.header .action .active {
  min-width: 108px;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 24px;
}

.header .action .active:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Hero */
.hero {
  padding: 50px 0 79px;
}

.hero .body {
  display: flex;
}

.hero .content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero .text {
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .heading {
  margin-top: 18px;
  width: 458px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}

.hero .desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.hero .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .cta-group .btn {
  min-width: 186px;
  height: 68px;
}

.hero .content-block .play-video {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1111;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .media-block {
  position: relative;
  width: 50%;
}

.hero .media-block .avt {
  object-fit: cover;
  background: #dff6f5;
  width: 576px;
  height: 631px;
}

.hero .hero-summary {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  padding: 14px 18px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .icons {
  width: 74px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.hero .hero-summary .icon {
  width: 36px;
  height: 36px;
}

.hero .hero-summary .info {
  font-size: 1.4rem;
  color: #0d1111;
  font-weight: 500;
  line-height: 1.4;
}

.hero .hero-summary .avatars {
  display: flex;
}

.hero .hero-summary .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.5px solid #fff;
  object-fit: cover;
  margin-left: -8px;
}

.hero .hero-summary .avatar:first-child {
  margin-left: 0;
}

/* Features */
.features {
  margin-top: 130px;
}

.features .desc-top {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.features .heading-lv2 {
  width: 577px;
  margin: 18px 0;
}

.features .desc {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
}

.features .list {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;

  margin-right: 146px;
}

.features .list .icon {
  width: 102px;
  height: 106px;
  object-fit: cover;
}

.features .list .text {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features .list .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69; /* 168.75% */
  width: 168px;
}

/* Courses   */
.courses {
  margin-top: 130px;
}

.courses .text-top {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.courses .heading-lv2 {
  margin-top: 18px;
}

.courses .info {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.courses .info .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.courses .info a {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.courses .list {
  margin-top: 80px;
  display: flex;
  gap: 47px;
}

.courses .list .item {
  position: relative;
  width: 33.33%;
}

.courses .list .item img {
  object-fit: cover;
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
}

.courses .list .info-item {
  border-radius: 8px;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  bottom: -138px;
  right: 17px;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  width: 325px;
  height: 195px;
  display: flex;
  flex-direction: column;
  padding: 18px 25px 29px;
  justify-content: center;
}

.courses .info-item h3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses .info-item .price {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 16px;
}

.courses .info-item .desc {
  color: #9da6a5;
  font-size: 1.4rem;
  max-width: 275px;
  margin-top: 12px;
}

.courses .info-item .status {
  display: flex;
  color: #9da6a5;
  font-size: 1.4rem;
}

.courses .status p {
  margin-top: 18px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.courses .status p::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #1ebfc1;
}

/* Feedbacks */

.feedback {
  margin-top: 389px;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feedback .countdown-item .heading {
  height: 93px;
  color: #0d1111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.feedback .countdown-item p {
  text-align: center;
  color: #767e7e;
  font-size: 1.8rem;
  margin-top: 11px;
}

.feedback .body {
  margin-top: 264px;
  display: flex;
  position: relative;
}

.feedback .body .text {
  width: 36%;
}

.feedback .text h2 {
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5; /* 150% */
}

.feedback .text p {
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
}

.feedback .text strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.feedback .feedback-cta {
  display: flex;
  margin-top: 52px;
}

.feedback .cta-btn-group {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-color);
}

.feedback .cta-btn-group:hover {
  opacity: 0.9;
  border: 1px solid rgba(207, 20, 195, 0.219);
}

.feedback .avatar {
  position: absolute;
}

.feedback .avt-1 {
  left: 635px;
  top: 0;
  width: 92px;
  height: 92px;
}

.feedback .avt-2 {
  background-color: #1ebfc1;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  right: 0;
  left: 1060px;
  top: 19px;
}

.feedback .avt-3 {
  background-color: #80a528;
  border-radius: 50%;
  width: 235px;
  height: 235px;
  top: 107px;
  left: 764px;
}

.feedback .avt-4 {
  background-color: #ad75a0;
  border-radius: 50%;
  top: 258px;
  left: 491px;
}

.feedback .avt-5 {
  background-color: #2b4f0d;
  border-radius: 50%;
  top: 403px;
  left: 703px;
}

.feedback .avt-6 {
  background-color: #def10a;
  border-radius: 50%;
  top: 374px;
  left: 1060px;
}

/* Admit */
.admit {
  margin-top: 130px;
  background: #def6f5;
}

.admit .body {
  padding: 76px 141px 88px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admit .info .desc {
  color: #767e7e;
  font-size: 1.8rem;
  margin-top: 18px;
}

.admit .btn {
  width: 186px;
  height: 68px;
}

/* Footer */
.footer {
  padding-top: 131px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .column h3 {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.footer .column li {
  margin-top: 18px;
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
  display: flex;
  flex-direction: column;

}
.footer li a {
    margin-bottom: 16px;
  color: #535353;
  font-size: 1.6rem;
}

.column li img {
  margin-right: 9px;
  width: 11px;
height: 9px;
object-fit: cover;
}

.footer .copyright {
  margin-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: normal;
}
